:8000 {
    # Serve static files
    handle /static/* {
        root * /usr/share/caddy
        file_server
    }
    
    @notProxy not path /proxy/*
    encode @notProxy gzip

    # Provide your own cert and private key
    # tls /path/to/cert.pem /path/to/key.pem

    # Proxy everything else to the app
    reverse_proxy app:8080
}
