[site]
site_name = 'MikuInvidious'
site_url = 'https://example.org'

# You are required to set this if you have any modification to the source code.
# Learn more at https://www.gnu.org/licenses/agpl-3.0.html.
site_modified_source_code_url = false

# This will not really disable download, it just not shows it.
site_allow_download = true

# This will allow (potentially unsafe) error response to be showed directly on site.
site_show_unsafe_error_response = false

# This controls whether the search engines will index your site or not.
# Available options:
#    - 'strict', indexing is disallowed.
#	 - 'relexed', search engines can index articles and search page.
#    - 'PLEASE_INDEX_EVERYTHING', a VERY DANGEROUS option, may give you a lawsuit.
# Default to 'strict'.
robots_policy = 'strict'

[flask]
host = '0.0.0.0'

# Due to limitation of twisted and flask, this takes up N port and N+1 port.
# The N port is what you need to use for reverse proxies and so.
port = 8888

[credential]
# Credentials can be used to break auth wall, visit paid resources and unlock video qualities.
use_cred   = false

# Sensitive infomation, don't tell anybody. For gathering these, see https://nemo2011.github.io/bilibili-api/#/get-credential.
sessdata   = ''
bili_jct   = ''
buvid3     = ''
dedeuserid = ''

[proxy]
# If your server is located in China, videos and audo-only videos may likely break if not using proxy.
video = true
image = true

[render]
use_pandoc = false
article_allowed_formats = ['markdown', 'plain', 'html']

[display]
default_theme = 'wayback'
