[site]
site_name = 'MikuInvidious'
site_url = 'https://example.org'

# You are required to set this if you have any modification to the source code.
# Learn more at https://www.gnu.org/licenses/agpl-3.0.html.
site_modified_source_code_url = false

# This will not really disable download, it just not shows it.
site_allow_download = true

# This will allow (potentially unsafe) error response to be showed directly on site.
site_show_unsafe_error_response = false

# Enable or disable Nyaa search in Bangumi view.
nyaa_bangumi = true

# This controls whether the search engines will index your site or not.
# Available options:
#    - 'strict', indexing is disallowed.
#	 - 'relexed', search engines can index articles and search page.
#    - 'PLEASE_INDEX_EVERYTHING', a VERY DANGEROUS option, may give you a lawsuit.
# Default to 'strict'.
robots_policy = 'strict'

[quart]
# Quart Framework Configuration

[server]
# Network interface to listen on:
#    - local only, use 'localhost'
#    - ipv4 only, use '0.0.0.0'
#    - both ipv4 or ipv6, use '::'
host = '::'

# Port to listen. Unlike old versions, only this port is used.
port = 8888

[credential]
# Credentials can be used to break auth wall, visit paid resources and unlock video qualities.
use_cred   = false

# Sensitive infomation, don't tell anybody. For gathering these, see https://nemo2011.github.io/bilibili-api/#/get-credential.
sessdata   = ''
bili_jct   = ''
buvid3     = ''
dedeuserid = ''

# Refresh token, can be obtained from the main page by examing `window.localStorage.ac_time_value'.
ac_time_value = ''

[proxy]
# If your server is located in China, videos and audo-only videos may likely break if not using proxy.
use_proxy = true

[render]
use_pandoc = false
article_allowed_formats = ['markdown', 'plain', 'html']

[display]
default_theme = 'modern'

[redis]

host = 'localhost'

port = 6379

#username = ''

#password = ''
