flask[async]
werkzeug
Flask_Caching
bilibili-api-python
requests
beautifulsoup4
httpx
aiohttp
redis
toml
lxml
twisted
service-identity
pyOpenSSL
pysocks
aiohttp-socks
httpx[socks]
opencc-python-reimplemented
