quart>=0.20.0
quart-session>=3.0.0
werkzeug>=3.1.4
bilibili-api-python>=17.4.1
beautifulsoup4>=4.14.3
httpx>=0.28.1
aiohttp>=3.13.2
redis>=7.1.0
toml>=0.10.2
lxml>=6.0.2
pysocks>=1.7.1
aiohttp-socks>=0.11.0
httpx[socks]>=0.28.1
hypercorn>=0.18.0
uvloop>=0.22.1