<html>
<head>
  <title>jslicense-labels1 for MikuInvidious</title>
</head>
<body>
  <table id="jslicense-label1" border="1">
    <tbody>
      <tr>
	<td><a href="/static/vjs/video.min.js">video.min.js</a></td>
	<td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
	<td><a href="/static/vjs/video.min.js">/static/vjs/video.min.js</a></td>
      </tr>
      <tr>
	<td><a href="/static/vjs/videojs-resolution-switcher.js">videojs-resolution-switcher.js</a></td>
	<td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
	<td><a href="/static/vjs/videojs-resolution-switcher.js">/static/vjs/videojs-resolution-switcher.js</a></td>
      </tr>
      <tr>
	<td><a href="/static/danmakujs/danmaku.min.js">videojs-resolution-switcher.js</a></td>
	<td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
	<td><a href="https://github.com/weizhenye/Danmaku/archive/refs/tags/v2.0.6.tar.gz">v2.0.6.tar.gz</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
