{% extends 'themes/wayback/base.html' %}

{% block head %}
  {% if is_opus %}
  <link rel="alternate" href="https://www.bilibili.com/opus/{{ cid }}">
  <title>{{ arinfo['title'] }} - 图文 - MikuInvidious</title>
  {% else %}
  <link rel="alternate" href="https://www.bilibili.com/read/{{ cid }}">
  <title>{{ arinfo['title'] }} - 专栏 - MikuInvidious</title>
  {% endif %}
  <meta name="referrer" content="never">
  <style>
    @media only screen and (min-width: 600px) {
	figure > img {
	    max-width: 55% !important;
	}
    }
    
    figure > img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
    }

    .typo {
        line-height: 1.6;
        font-size: 1.1em;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    .typo p {
        margin-bottom: 1.2em;
    }
    .typo img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1em auto;
    }
    .typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    .typo table {
        width: 100%;
        border-collapse: collapse;
        margin: 1em 0;
    }
    .typo table td, .typo table th {
        border: 1px solid #ccc;
        padding: 8px;
    }
    .typo blockquote {
        border-left: 4px solid #ccc;
        padding-left: 1em;
        margin-left: 0;
        color: #666;
    }
    .typo pre {
        background: #f4f4f4;
        padding: 1em;
        overflow-x: auto;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    .typo code {
        font-family: monospace;
        background: #f4f4f4;
        padding: 0.2em 0.4em;
        border-radius: 3px;
    }
    .typo pre code {
        padding: 0;
        background: transparent;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="h-box">
    <h1>
      {{ arinfo['title'] }}
    </h1>
  </div>
  <div class="h-box">
    <a href="/space/{{ arinfo['author']['mid'] }}" style="display:block;width:fit-content;width:-moz-fit-content">
      <div class="channel-profile">
	<img src="{{ arinfo['author']['face']|pic }}" alt="" />
	<span id="channel-name">{{ arinfo['author']['name'] }}</span>
      </div>
    </a>
    <p id="published-date">
      投稿于 {{ arinfo['publish_time']|date }}
    </p>
      <i class="icon ion-ios-eye"></i> {{ arinfo['stats']['view']|intsep }}
      <i class="icon ion-ios-thumbs-up"></i> {{ arinfo['stats']['like']|intsep }}
      <i class="icon ion-logo-bitcoin"></i> {{ arinfo['stats']['coin']|intsep }}
      <i class="icon ion-ios-bookmark"></i> {{ arinfo['stats']['favorite']|intsep }}
      <i class="icon ion-md-share"></i> {{ arinfo['stats']['share']|intsep }}
  </div>
  <hr>
  <div class="typo">
    {{ article_content|safe }}
  </div>
{% endblock %}
